<div id="base">

<div id="cabecera">
<!-- logo cliente -->
<div><img src="/app/img/logocliente.png" width="150"> <span class="servicio">Servicio de Videoconferencia de Saludnova</span></div>

</div>

<!-- mi estado -->
<div id="estado" [hidden]="!mypeerid"><b>Mi estado</b>

<div class="bolita_estado_busy2" *ngIf='profState.state == "BUSY"'><span class="blanco2"><i class="fa fa-user-md" aria-hidden="true"></i></span></div>
<div class="bolita_estado_free2" *ngIf='profState.state == "FREE"'><span class="blanco2"><i class="fa fa-user-md" aria-hidden="true"></i></span></div>

<span class="posicion_busy2" *ngIf='profState.state == "BUSY"'>{{profState.state}}</span>
<span class="posicion_free2" *ngIf='profState.state == "FREE"'>{{profState.state}}</span>

</div>


<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-6 col-md-8 ">
<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget" id="wid-id-0">
								<!-- widget options:
									usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
									
									data-widget-colorbutton="false"	
									data-widget-editbutton="false"
									data-widget-togglebutton="false"
									data-widget-deletebutton="false"
									data-widget-fullscreenbutton="false"
									data-widget-custombutton="false"
									data-widget-collapsed="true" 
									data-widget-sortable="false"
									
								-->
								<header>
									<h2><i class="fa fa-video-camera" aria-hidden="true"></i> Call Centre</h2>				
									
								</header>

								<!-- widget div-->
								<div>
									
									<!-- widget content -->
									<div class="widget-body">
										<div [hidden]="!mypeerid">
<h2>My id - {{mypeerid}}</h2>
                      <div id="sala_espera2" [hidden]="!mypeerid || videocalling">
                        
                      <div class="bolita_estado_busy" *ngIf='profState.state == "BUSY"'><a (click)="connect()" style="cursor:pointer"><span class="blanco"><i class="fa fa-user-md fa-4x" aria-hidden="true"></i></span></a></div>
                      <div class="bolita_estado_free" *ngIf='profState.state == "FREE"'><a (click)="connect()" style="cursor:pointer"><span class="blanco"><i class="fa fa-user-md fa-4x" aria-hidden="true"></i></span></a></div>

                          <p><span class="posicion_busy" *ngIf='profState.state == "BUSY"'>{{profState.state}}</span></p>
                          <p><span class="posicion_free" *ngIf='profState.state == "FREE"'>{{profState.state}}</span></p>
                          <p><em>Pinche en el icono para cambiar de estado.</em></p>
                        </div>


                      <div [hidden]="!videocalling" class="col-xs-12 col-sm-12 col-md-12" class="videos">
                      <div class="user_name"><h2>Patient Name: {{anothername}}</h2></div>
                      <div id="myvideo" class="col-xs-12 col-sm-6 col-md-8">
                      <video #peervideo muted="true" autoplay class="fullscreen"></video>
                      <div id="video" class="col-xs-12 col-sm-6 col-md-8">
                        <div class="bolita_call" *ngIf='micro == true'><a (click)="stopMicro()" style="cursor:pointer"><span class="blanco"><i class="fa fa-microphone" aria-hidden="true"></i></span></a></div>
                        <div class="bolita_desactivada" *ngIf='micro == false'><a (click)="stopMicro()" style="cursor:pointer"><span class="blanco"><i class="fa fa-microphone" aria-hidden="true"></i></span></a></div>
                        <div class="bolita_call" *ngIf='video == true'><a (click)="stopVideo()" style="cursor:pointer" disabled="isCalling"><span class="blanco"><i class="fa fa-video-camera" aria-hidden="true"></i></span></a></div>
                        <div class="bolita_desactivada" *ngIf='video == false'><a (click)="stopVideo()" style="cursor:pointer" disabled="isCalling"><span class="blanco"><i class="fa fa-video-camera" aria-hidden="true"></i></span></a></div>
                        <div class="bolita"><a id="closeButton" (click)="stopCall()" style="cursor:pointer"><span class="blanco"><i class="fa fa-stop" aria-hidden="true"></i></span></a></div>
                        </div>
                      </div>
                      <div id="peervideo" class="col-xs-6 col-sm-6 col-md-4">
                      <video #myvideo autoplay class="fullscreen"></video>
                      </div>
                      <div class="cierre"></div>
                      </div>

                      </div>

                      <div class="iniciar" [hidden]="mypeerid">
                      <h1><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i> Iniciando VideoChat...</h1>
                      </div>

									</div>
									<!-- end widget content -->
									
								</div>
								<!-- end widget div -->
								
							</div>
							<!-- end widget -->

</article>
						<!-- WIDGET END -->  
<article class="col-xs-12 col-sm-6 col-md-4 ">
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-0" [hidden]="!videocalling">
								<!-- widget options:
									usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
									
									data-widget-colorbutton="false"	
									data-widget-editbutton="false"
									data-widget-togglebutton="false"
									data-widget-deletebutton="false"
									data-widget-fullscreenbutton="false"
									data-widget-custombutton="false"
									data-widget-collapsed="true" 
									data-widget-sortable="false"
									
								-->
								<header>
									<h2><i class="fa fa-comments-o" aria-hidden="true"></i> Chat</h2>				
									
								</header>

								<!-- widget div-->
								<div>
									
									<!-- widget content -->
									<div class="widget-body">
                    <div id="cont_chat" class="col-xs-12 col-sm-12 col-md-12">
                    <div [hidden]="!videocalling">
                    <div id="list_chat">
                    <ul class="list-unstyled">
                          <li *ngFor="let incomingText of incomingTexts">

							<div>
                            <div style="float:left;" *ngIf="incomingText.tipo == '2'" class="bolita_me"><span class="blanco"><i class="fa fa-user" aria-hidden="true"></i></span></div>
                            <div style="float:left;" *ngIf="incomingText.tipo == '1'"class="bolita_peer"><span class="blanco"><i class="fa fa-user-md" aria-hidden="true"></i></span></div>
                            <div  style="float: left;">{{incomingText.mensaje}}</div>
							<div style="float: right;">{{incomingText.time}}</div>
							</div>
							<div style="clear: both;"></div>
                            <br>
                          </li>
                    </ul>
                    </div>
                    <textarea type="text" [(ngModel)]="msgtext" id="txt_chat" class="col-xs-12 col-sm-12 col-md-12" ROWS=3 COLS=30></TEXTAREA>
                    <button (click)="sendMessage(msgtext)" [disabled]="!msgtext" id="enviar">Enviar</button>
                    </div>

                      </div>

									</div>
									<!-- end widget content -->
									
								</div>
								<!-- end widget div -->
								
							</div>
							<!-- end widget -->
							<div class="jarviswidget" id="wid-id-0" [hidden]="videocalling || profState.state == 'BUSY'">
								<!-- widget options:
									usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
									
									data-widget-colorbutton="false"	
									data-widget-editbutton="false"
									data-widget-togglebutton="false"
									data-widget-deletebutton="false"
									data-widget-fullscreenbutton="false"
									data-widget-custombutton="false"
									data-widget-collapsed="true" 
									data-widget-sortable="false"
									
								-->
								<header>
									<h2><i class="fa fa-video-camera" aria-hidden="true"></i> Llamadas entrantes</h2>				
									
								</header>

								<!-- widget div-->
								<div>
									
									<!-- widget content -->
									<div class="widget-body">
                    <div id="cont_chat" class="col-xs-12 col-sm-12 col-md-12">
                    <div [hidden]="!mypeerid">
                    <div id="list_chat">
                    <ul class="list-unstyled">
                          <li *ngFor="let incomingCall of incomingCalls">
                            <a class="aceptar" (click)="aceptCall(incomingCall)"><div class="bolita_user"><span class="blanco"><i class="fa fa-video-camera" aria-hidden="true"></i></span></div><span>{{incomingCall.callname}}</span></a>
                          </li>
                    </ul>
                    <div class="txt_video"><p><em>Pulse sobre cada registro para comenzar la videoconferencia</em></p></div>
                    </div>
                    </div>

                    </div>

									</div>
									<!-- end widget content -->
									
								</div>
								<!-- end widget div -->
								
							</div>
							<!-- end widget -->

              <div class="jarviswidget" id="wid-id-0">
								<!-- widget options:
									usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
									
									data-widget-colorbutton="false"	
									data-widget-editbutton="false"
									data-widget-togglebutton="false"
									data-widget-deletebutton="false"
									data-widget-fullscreenbutton="false"
									data-widget-custombutton="false"
									data-widget-collapsed="true" 
									data-widget-sortable="false"
									
								-->
								<header>
									<h2><i class="fa fa-user" aria-hidden="true"></i> Usuarios conectados</h2>				
									
								</header>

								<!-- widget div-->
								<div>
									
									<!-- widget content -->
									<div class="widget-body">
                    <div id="cont_chat" class="col-xs-12 col-sm-12 col-md-12">
                    <div [hidden]="!mypeerid">
                    <div id="list_chat">
                    <ul class="list-unstyled">
                          <li *ngFor="let conectedUser of conectedUsers">
                            <div class="bolita_user"><span class="blanco"><i class="fa fa-user" aria-hidden="true"></i></span></div><span>{{conectedUser}}</span>
                          </li>
                    </ul>
                    </div>
                    </div>

                      </div>

									</div>
									<!-- end widget content -->
									
								</div>
								<!-- end widget div -->
								
							</div>
							<!-- end widget -->
              

</article>
						<!-- WIDGET END -->

<div class="cierre"></div>
</div>

